<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    package="nl.sogeti.android.gpstracker"
	android:versionCode="9" 
	android:versionName="0.9.5">

    <uses-sdk android:minSdkVersion="4"/>

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:description="@string/app_name">

		<uses-library android:name="com.google.android.maps" />

		<activity android:label="@string/app_name" android:name=".viewer.LoggerMap">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:label="@string/menu_tracklist" android:name=".viewer.TrackList"/>
		
        <activity android:label="@string/menu_settings" android:name=".logger.SettingsDialog"/>
        
		<activity android:label="@string/menu_statistics" android:name=".actions.Statistics">
            <intent-filter android:label="Show track statistics">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:host="nl.sogeti.android.gpstracker" />
                <data android:mimeType="vnd.android.cursor.item/vnd.nl.sogeti.android.track" />
            </intent-filter>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </activity>

		<service android:enabled="true" android:name=".logger.GPSLoggerService">
			<intent-filter android:label="GPS logger">
				<action android:name="nl.sogeti.android.gpstrack.logger.GPSLoggerService"></action>
			</intent-filter>
		</service>

		<provider android:enabled="true" android:authorities="nl.sogeti.android.gpstracker"
			android:name=".db.GPStrackingProvider" android:permission="android.permission.ACCESS_FINE_LOCATION">
		</provider>

		<activity android:label="@string/receive_filewriter" android:name=".actions.ExportGPX">
			<intent-filter>
				<action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.nl.sogeti.android.track" />
			</intent-filter>
		</activity>
		
        <activity android:label="@string/receive_gpxsender" android:name=".actions.SendGPX">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.nl.sogeti.android.track" />
            </intent-filter>
        </activity>
		
		<activity android:label="@string/receive_speaksummary" android:name=".actions.SpeakSummary">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.nl.sogeti.android.track" />
            </intent-filter>
        </activity>

	</application>


	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
</manifest>
