<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.sogeti.android.gpstracker"
    android:installLocation="auto">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="nl.sogeti.android.gpstracker.permission.TRACKING_CONTROL" />
    <uses-permission android:name="nl.sogeti.android.gpstracker.permission.TRACKING_HISTORY" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.App">
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".viewer.TrackList" />

        <activity
            android:name=".viewer.LoggerMap"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.App.NoBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="Show track on map">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.nl.sogeti.android.track" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actions.AboutActivity"
            android:theme="@style/Theme.App.Translucent.NoTitleBar">

            <intent-filter>
                <action android:name="nl.sogeti.android.gpstracker.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:host="nl.sogeti.android.gpstracker.about" />
            </intent-filter>
        </activity>

        <activity
            android:name=".actions.NameTrack"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.App.Translucent.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="nl.sogeti.android.gpstracker.service.action.NAMING" />
                <data android:mimeType="vnd.android.cursor.item/vnd.nl.sogeti.android.track" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actions.ControlTracking"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.App.Translucent.NoTitleBar" />
        <activity
            android:name=".actions.InsertNote"
            android:theme="@style/Theme.App.Translucent.NoTitleBar" />
        <activity
            android:name=".viewer.TrackList"
            android:label="@string/track_list"
            android:launchMode="singleTop"
            android:parentActivityName=".viewer.LoggerMap">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewer.LoggerMap" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.gpx" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/gpx+xml" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".actions.Statistics"
            android:label="@string/menu_statistics"
            android:parentActivityName=".viewer.LoggerMap">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewer.LoggerMap" />
        </activity>
        <activity
            android:name=".actions.ShareTrack"
            android:exported="false"
            android:label="@string/share_track"
            android:windowSoftInputMode="stateUnchanged">
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:label="@string/menu_settings"
            android:parentActivityName=".viewer.LoggerMap">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewer.LoggerMap" />
        </activity>

        <receiver
            android:name=".widget.ControlWidgetProvider"
            android:exported="false"
            android:label="Logger control">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sogeti.android.gpstracker.LOGGING_STATE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/control_appwidget_info" />
        </receiver>

    </application>

</manifest>