<?xml version="1.0" encoding="UTF-8"?>
<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android" 
	package="nl.sogeti.android.gpstracker.tests">

	<application>
		<uses-library android:name="android.test.runner" />
	</application>

	<service android:enabled="true" android:name=".logger.MockGPSLoggerService">
		<intent-filter android:label="Gps data generator">
			<action android:name="MockGPSLoggerService"></action>
		</intent-filter>
	</service>

	<instrumentation 
		android:name="GPStrackingInstrumentation" 
		android:label="GPS Tracker test suite"
		android:targetPackage="nl.sogeti.android.gpstracker">
	</instrumentation>
	
	<uses-sdk android:minSdkVersion="7"></uses-sdk>

</manifest>